#drinkCustomizationTitle {
	text-align: center;
}

#drinkCustomizationDialog > form {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#drinkCustomizationActionsList {
	padding: 0;
	flex-grow: 1;
}

#drinkCustomizationActionsList > li,
#drinkCustomizationDialog .add-ingredient {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
}
#drinkCustomizationActionsList > li:not(.grabbing) {
	transition: transform 0.3s;
}
#drinkCustomizationActionsList > li:hover,
#drinkCustomizationDialog .add-ingredient:hover,
#drinkCustomizationActionsList > li.grabbing {
	background-color: #ffffff1a;
}

#drinkCustomizationActionsList > li > .grab-handle {
	min-width: 12px;
	min-height: 18px;
	margin-left: 10px;
	background: radial-gradient(#ffffff80 0%, #ffffff80 40%, transparent 60%, transparent 100%);
	background-size: 50% 33%;
	cursor: grab;
	touch-action: none;
}
#drinkCustomizationActionsList > li.grabbing,
#drinkCustomizationActionsList > li.grabbing > .grab-handle {
	cursor: grabbing;
}

#drinkCustomizationActionsList > li > .amount-space {
	width: 30px;
	padding: 0 10px;
	margin: 0 10px;
}

#drinkCustomizationActionsList > li > .text {
	flex-grow: 1;
	font-size: 16px;
}

.delete-button {
	visibility: hidden;
	border: none;
	background-size: 70%;
}

#drinkCustomizationActionsList > li:hover > .delete-button {
	visibility: visible;
}

#drinkCustomizationDialog .add-ingredient {
	width: 100%;
	height: 30px;
	font-size: 16px;
	appearance: none;
	border: none;
	padding-left: 40px;
	background: transparent;
	color: white;
	cursor: pointer;
}

.add-button-icon {
	background: #ff93dd;
	width: 30px;
	height: 30px;
	position: absolute;
	transform: rotate(45deg);
	pointer-events: none;
}
