:host {
	scroll-snap-align: center;
	transition: opacity 0.5s;
}

:host(:not(.selected)) {
	opacity: 0.4;
}

.mixer-container {
	width: 200px;
	height: 400px;
	position: relative;
}
.mixer-container.unavailable {
	opacity: 0.4;
}

.mixer-outline {
	--image: url(./mixer.svg);
}
.mixer-accents {
	--image: url(./mixerAccents.svg);
}
.mixer-outline, .mixer-accents {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-mask-image: var(--image);
	mask-image: var(--image);
	background-color: white;
}

.name {
	text-align: center;
}

.ingredients-list {
	list-style: none;
	padding: 0;
	text-align: center;
}

li:not(.available) {
	color: rgb(225 165 222);
	text-decoration: line-through;
}
