.drink-display {
	scroll-snap-align: center;
	display: flex;
	flex-direction: column;
}

.drink-display > .drink-icon-container {
	width: 150px;
	height: 200px;
	margin: 20px 20px;
	position: relative;
	filter: url(#svgNeon);
}

.drink-display > .name {
	margin: 0;
	text-align: center;
}

.drink-display > .ingredients-list {
	list-style: none;
	padding: 0;
	text-align: center;
}

.ingredients-list > li:not(.available) {
	color: rgb(225 165 222);
	text-decoration: line-through;
}
