:root{
	--svg-circle-x: url(../svg/circleX.svg);
	--row-hover-color: #ffffff1a;
	--default-border-radius: 10px;
}

html, body, main {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	background: radial-gradient(circle at 50% 110%, #da5dff 0%, #5f007b 40%, #1f0028 70%, black 100%);
	color: white;
	font-family: sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#drinkSelector {
	display: flex;
	max-width: 400px;
	width: 100%;
	padding-top: 70px;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	margin: 0px auto;
}

#drinkSelector::-webkit-scrollbar {
    display: none;
}

@media (max-width: 600px) {
	#drinkSelector {
		margin: 0;
		max-width: 100%;
	}
}
@media (min-width: 400px) {
	#drinkSelector {
		--mask: linear-gradient(to right, transparent 0%, black 25%, black 75%, transparent 100%);
		-webkit-mask-image: var(--mask);
		mask-image: var(--mask);
	}
}

#drinkSelector::before,
#drinkSelector::after {
	content: "";
	width: 100%;
	height: 100%;
	flex-shrink: 0;
}

input[type="search"],
input[type="number"] {
	appearance: none;
	border: none;
	color: white;
	background: #51515157;
	border-radius: var(--default-border-radius);
	border-bottom: solid #7b7b7b33 1px;
	box-shadow: inset 0px 9px 9px -6px #00000029;
}

/* This is placed here because in other files it wouldn't resolve correctly,
since url() paths are relative to the file that contains it. We can't use
a different url either because that would cause the image to get inlined twice*/
.add-button-icon {
	-webkit-mask:  var(--svg-circle-x);
	mask:  var(--svg-circle-x);
}

.delete-button,
input[type="search"]::-webkit-search-cancel-button {
	opacity: 0.5;
	width: 30px;
	height: 30px;
	background: var(--svg-circle-x) center/contain no-repeat;
	cursor: pointer;
}
.delete-button:hover,
input[type="search"]::-webkit-search-cancel-button:hover {
	opacity: 0.7;
}
.delete-button:active,
input[type="search"]::-webkit-search-cancel-button:active {
	opacity: 0.6;
}

input[type="number"]::-webkit-inner-spin-button {
	appearance: none;
}
input[type=number] {
	-moz-appearance: textfield;
}

#search {
	font-size: 20pt;
	text-align: center;
	margin: 30px 0;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	max-width: calc(100% - 60px);
	z-index: 100;
}
#search:focus-visible {
	outline: none;
	background: #63636357;
	box-shadow: #ffffff1c 0px 0px 20px;
}

input[type="search"]::-webkit-search-cancel-button,
button {
	border: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
}

.text-button {
	background: transparent;
	color: white;
	font-size: 14pt;
	margin: 20px;
	cursor: pointer;
	white-space: nowrap;
}
.text-button.small {
	font-size: 10pt;
	margin: 10px;
}

.text-button:hover,
.text-button:focus-visible {
	opacity: 0.8;
}

.text-button:active {
	opacity: 0.6;
}

.mix-button {
	font-size: 30pt;
	color: white;
	padding: 5px 40px;
	background: linear-gradient(#ec15aa, #da0097);
	margin: 0;
	border-radius: var(--default-border-radius);
	box-shadow: #e35bd6 0px -1px, #690079 0px 5px, #0000005e 0px 11px 6px -2px, #00000045 0px 21px 20px 4px;
	cursor: pointer;
}

#mainMixButton {
	margin-bottom: 40px;
}

.mix-button:hover,
.mix-button:focus-visible {
	background: radial-gradient(#ff7bd6, #e316a4);
	box-shadow: #ff44ba29 0px 0px 20px 15px, #e35bd6 0px -1px, #8c0082 0px 5px, #0000005e 0px 11px 6px -2px, #00000045 0px 21px 20px 4px;
}

.mix-button:active {
	background: linear-gradient(#ca1291, #b7027f);
	box-shadow: #e35bd6 0px -1px, #740059 0px 5px, #0000005e 0px 11px 6px -2px, #00000045 0px 21px 20px 4px;
}

.mix-button:focus-visible,
.text-button:focus-visible {
	outline: rgb(144, 77, 255) solid 3px;
}

.button-section {
	display: flex;
	align-items: center;
	justify-content: center;
}

dialog {
	color: white;
	background: radial-gradient(circle at 50% 110%, #6e1788 0%, #330042 40%, #0e0013 70%, black 100%);
	border: solid 1px;
	border-color: #30003f #340044 #47065a;
	border-radius: var(--default-border-radius);
	box-shadow: #00000087 0px -20px 30px 20px, #00000069 0px -10px 10px 0px;
	width: 400px;
	height: fit-content;
	max-width: calc(100vw - 60px);
	max-height: calc(100vh - 60px);
}

dialog::backdrop {
	background: rgba(0, 0, 0, 0.6);
}

dialog.padding-top {
	padding-top: 60px;
}

#settingsButton {
	background: url(../svg/settings.svg) center/contain no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	margin: 20px;
	right: 0;
	bottom: 0;
	cursor: pointer;
	opacity: 0.5;
}
#settingsButton:hover {
	opacity: 0.7;
}
#settingsButton:active {
	opacity: 0.6;
}

.list-setting-item {
	border-radius: var(--default-border-radius);
	padding: 1px 7px;
}
.list-setting-item:hover {
	background-color: var(--row-hover-color);
}
