html, body, main {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	background: radial-gradient(circle at 50% 110%, #da5dff 0%, #5f007b 40%, #1f0028 70%, black 100%);
	color: white;
	font-family: sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#drinkSelector {
	display: flex;
	max-width: 400px;
	width: 100%;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	margin: 0px auto;
}

#drinkSelector::-webkit-scrollbar {
    display: none;
}

@media (max-width: 600px) {
	#drinkSelector {
		margin: 0;
		max-width: 100%;
	}
}
@media (min-width: 400px) {
	#drinkSelector {
		--mask: linear-gradient(to right, transparent 0%, black 25%, black 75%, transparent 100%);
		-webkit-mask-image: var(--mask);
		mask-image: var(--mask);
	}
}

#drinkSelector::before,
#drinkSelector::after {
	content: "";
	width: 100%;
	height: 100%;
	flex-shrink: 0;
}

input[type="text"] {
	appearance: none;
	border: none;
	background: #51515157;
	border-radius: 5px;
	border-bottom: solid #7b7b7b33 1px;
	box-shadow: inset 0px 9px 9px -6px #00000029;
}

#search {
	font-size: 20pt;
	text-align: center;
	margin: 30px;
	max-width: calc(100% - 60px);
	color: white;
}
#search:focus-visible {
	outline: none;
	background: #63636357;
	box-shadow: #ffffff1c 0px 0px 20px;
}

#mixButton {
	border: none;
	appearance: none;
	font-size: 30pt;
	color: white;
	padding: 5px 40px;
	background: linear-gradient(#ec15aa, #da0097);
	margin-top: 0;
	margin-bottom: 40px;
	border-radius: 5px;
	box-shadow: #e35bd6 0px -1px, #690079 0px 5px, #0000005e 0px 11px 6px -2px, #00000045 0px 21px 20px 4px;
	cursor: pointer;
}

#mixButton:hover {
	background: radial-gradient(#ff7bd6, #e316a4);
	box-shadow: #ff44ba29 0px 0px 20px 15px, #e35bd6 0px -1px, #8c0082 0px 5px, #0000005e 0px 11px 6px -2px, #00000045 0px 21px 20px 4px;
}

#mixButton:active {
	background: linear-gradient(#ca1291, #b7027f);
	box-shadow: #e35bd6 0px -1px, #740059 0px 5px, #0000005e 0px 11px 6px -2px, #00000045 0px 21px 20px 4px;
}
