#settingsList {
	list-style: none;
	padding: 0;
}

#settingsList > li > label {
	display: flex;
	justify-content: space-between;
}

#settingsList > li {
	border-radius: var(--default-border-radius);
	padding: 1px 7px;
}
#settingsList > li:hover {
	background-color: var(--row-hover-color);
}

#settingsList input[type="number"] {
	width: 70px;
}
