#dispensersDialog {
	width: fit-content;
}

#dispensersList {
	list-style-type: none;
	padding: 0;
}

#dispensersList > li {
	display: flex;
	gap: 4px;
	align-items: center;
	width: fit-content;
	height: 30px;
}

#dispensersList > li > .dispenser-setting-number {
	width:  24px;
}

.dispenser-setting {
	display: flex;
	flex-direction: column;
}

.dispenser-setting input[type="number"] {
	width: 50px;
}
#dispensersList > li > .text-button {
	margin: 0;
}

.dispenser-setting-label-text {
	font-size: 9pt;
	opacity: 0;
	position: absolute;
    transform: translateY(-10px);
}

.dispenser-setting,
.dispenser-setting-label-text {
	transition: opacity 0.2s, transform 0.2s ease-in-out;
}

#dispensersList > li:hover .dispenser-setting-label-text,
#dispensersList > li:focus-within .dispenser-setting-label-text {
	opacity: 1;
    transform: translateY(-14px);
}

#dispensersList > li:hover .dispenser-setting,
#dispensersList > li:focus-within .dispenser-setting {
	transform: translateY(6px);
}
